.mainSummary {
    width: 400px;
    height: 400px;
}

.titreSummary {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titreSummary h1 {
    color: #000f31;
    margin: 0;
}

.titreSummary p {
    margin: 0;
    padding-top: 5px;
    font-size: 13px;
    color: #b3b3b3;
}

.contenuSummary {
    width: 100%;
    height: 250px;
}

.choix {
    width: 100%;
    height: 200px;
    background-color: #f7f9fd;
    border-radius: 5px;
}

.optionPrise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionPrise p {
    color: #001357;
    font-weight: bold;
    padding-left: 30px;
}

.prixs {
    padding-right: 30px;
}

.contenuSummary hr {
    width: 85%;
}

.extraAdds {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extraAdds p {
    color: #b3b3b3;
    padding-left: 30px;
}

.extraAdds span {
    padding-right: 30px;
    color: #001357;
    font-weight: bold;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.total p {
    color: #b3b3b3;
    padding-left: 30px;
}

.total span {
    padding-right: 30px;
    color: #2b25bf;
    font-weight: bold;
    font-size: 18px;
}